<!doctype html>
<html lang="{{ site.language_attributes }}">
<head>
  <title>{% if wp_title %}{{ wp_title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="google-site-verification" content="GOOGLE WMT VERIFICATION CODE">
  <meta name="msvalidate.01" content="BING WMT VERIFICATION CODE">
  <meta name="description" content="{{ site.description }}">
  {{ function( 'wp_head' ) }}
  {% include 'core-analytics.twig' %}
</head>
<body class="{{ body_class }}">